/*-------- single-team  css--------*/
.single-team {
    display: flex;
    align-items: center;
    margin-bottom: 30px;
}

.team-thumb {
    width: 50%;
    position: relative;
}
.team-thumb::before {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    content: '';
    background-color: #087dc2;
    opacity: 0;
    transition: all linear 0.5s;
    -webkit-transition: all linear 0.5s;
    -moz-transition: all linear 0.5s;
    -ms-transition: all linear 0.5s;
    -o-transition: all linear 0.5s;
}
.single-team:hover .team-thumb::before {
    opacity: 0.5;
}
.team-thumb img {
    width: 100%;
}

.team-des {
    width: 50%;
    padding: 0 31px;
}
.team-des h4 {
    color: #303030;
    font-weight: 700;
}

.team-des p {
    color: #666;
}
.team-facebook, .team-pinterest, .team-twitter, .team-youtube {
    color: #3b5997;
    font-size: 25px;
    margin-right: 15px;
}
.team-pinterest {
    color: #006dc0;
}
.team-twitter {
    color: #29c5f6;
}
.team-youtube {
    color: #d13d2f;
}
/*-------- media query --------*/
@media only screen and (max-width:575px) {
    .single-team {
        flex-direction: column;
    }
    .team-thumb {
        width: 100%;
    }
    .team-des {
        width: auto;
        padding: 15px 10px;
    }
}
@media only screen and (min-width:576px) and (max-width:767px) {
    .single-team {
        flex-direction: column;
    }
    .team-thumb {
        width: 100%;
    }
    .team-des {
        width: auto;
        padding: 15px 10px;
    }
}
