/*------ add service -------*/
.add-services {
    padding-top: 80px;
}
.add-services h1 {
    margin-bottom: 50px;
}
.add-services .user-entry-form {
    margin: 30px auto 20px;
    padding: 80px;
}
.add-services .user-entry-form input {
    width: 100%;
    background: no-repeat;
    border: 1px solid #fff;
    margin: 15px 0;
    padding: 10px 15px;
    border-radius: 6px;
    color: #fff;
}
.add-services .user-entry-form input::placeholder {
    color: #fff;
}
.add-services .user-entry-form input.submit-btn {
    background: #087dc2;
    border-color: #087dc2;
}
/*------- media query -------*/
@media only screen and (max-width:575px) { 
    .add-services {
        padding-top: 60px;
        margin-top: 71px;
    }
    .add-services h1 {
        margin-bottom: 10px;
    }
    .add-services .user-entry-form {
        padding: 20px;
}

}
@media only screen and (min-width:576px) and (max-width:767px) { 
    .add-services {
        padding-top: 60px;
        margin-top: 71px;
    }
    .add-services h1 {
        margin-bottom: 10px;
    }
    .add-services .user-entry-form {
        padding: 20px;
}

}